@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|query::criterion-label {
    text-align: left;
}

af|inputListOfValues::content {
    width: 251px;
    /*min-width: 266px;*/
}

af|selectOneChoice::content {
    width: 251px;
    /*min-width: 266px;*/
}

af|inputText::content {
    width: 277px;
    max-width: 277px;
}

af|inputDate::content {
    width: 277px;
    max-width: 277px;
}

af|panelFormLayout_label-cell {
    text-align: left;
}

af|panelFormLayout {
    margin-left: 40px;
    margin-top: 20px;
}

af|panelSpringboard::item {
    border: none;
}

af|panelCollection {
    height: 100%; 
    }

af|toolbar::separator {
    visibility: hidden; 
    height: 1px; 
}

.af_panelCollection_statusbar .af_toolbox_body {
     display: none; 
}

af|panelBox {
    margin: 10px; 
}

af|panelBox::content {
    overflow: inherit; 
}

.testclass af|link::image{
    margin-top: -20px;
}

.decorativeBoxNoframeBorder af|decorativeBox::frame {
    border: none;
}


af|commandButton {
    border-radius: 20px;
    padding: 10px;
}

.af_panelSpringboard_item-text {
    height: 60px;
}
.qLetPartSearch af|query::info{
    display:none
}